@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
background-image:linear-gradient(to top,#F0FFFF,#FFFFF0);
}

h1{
font-size: 2em;
text-align: center;
line-height: 1.5em;
color: #000;
text-transform: uppercase;
font-family:'Press Start 2P', cursive;
background-image: linear-gradient(130deg,#FF0000 25%, #B22222 40%, #DC143C 60%, #8B0000 75%, #800000 90%);
background-clip: border-box;
background-size: 200%;
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;
animation: gradient 5s linear infinite;
}

@keyframes gradient {
to{
   background-position: 200% center;
}
}



.bo {
width:250px;
height:250px;
background-color: PaleTurquoise;
position: relative;
top:0;
left:0;
animation: render 4s ease-in-out infinite;
}

@keyframes render {
0% {
 top:0px; left:0px;
background-color: Red;
}
25% {
 top:0px; left:500px;
background-color: FireBrick;
border-radius: 50%;
}
50% {
 top:500px; left:500px;
background-color: Crimson;
border-radius: 0%
}
75% {
 top:500px; left:0px;
background-color: DarkRed;
border-radius: 50%;
}
}

h2{
color:#Black;
font-family:Brush Script MT, Brush Script Std, cursive;
border-bottom: 4px solid Silver;
border-top: 4px solid Silver;

}

.text{
color: black;
letter-spacing: 0,15em;
font-family: monospace;
border-right: .15em solid black;
overflow: hidden;
white-space:nowrap;
margin:0 auto;
animation:typing 4s steps(30, end), blink .5s step-end infinite;
}
@keyframes typing {
from {
width:0;
}
to{
  width:100%;
}
}

@keyframes  blink{
 from
 to {
   border-color: transparent;
 }
 50% {
border-color: black;

}



p{
  font-size: 32px;
}

p{
  font-size: 32px;
}

button{
padding: 20px 50px;
outline:none;
border: none;
border-radius: 50px;
background-color: rgb(0, 191, 255);
cursor: pointer;
color: #ADD8E6;
font-weight: 600;
font-size: 20px;
text-shadow: -4px 7px 9px #000;
box-shadow: -3px 6px 8px #000;
}
:root{

   scroll-behavior: smooth;
}

/*marquee{
  color: aqua;
  padding: 32px;
  font-weight: 800;
  font-size: 30px;
}
*/
.solid {

  width:100%;
  height:250px;
  background-color: #bbb;
}

.solid p {
  text-align: left;
   margin:100px;
 }
